:root {
    --primary-color: #D68100;
    --secondary-color: #141717;
    --accent1-color: #ffffff;
    --accent2-color: #141414;
    font-family: 'Rajdhani', sans-serif;
}

* {
    font-family: var(font-family);
}


body {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    font-size: 20px;
    max-width: 1600px;
    margin: auto;
    padding: 0;
}

h1,
h2 {
    color: var(--primary-color);
}

.section {
    background-color: var(--accent2-color);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.section img {
    max-width: 1400px;
}


header {
    display: flex;
    background-color: var(--accent2-color);
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 36px;
}

nav {
    display: flex;
}



.hero {
    position: relative;
    height: 50vh;
    background: url('../images/hero.webp') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-overlay h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-overlay p {
    font-size: 1.2rem;
    width: 800px;
    margin-bottom: 20px;
}

.hero-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #971818;
}

.section-header {
    padding: 5px;
    text-align: center;
    font-size: 36px;
}

nav a {
    color: white;
    font-size: 28px;
    margin: auto;
    text-decoration: none;
    padding: 10px 50px;
}

.section {
    background-color: #7e7f83;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.card {
    display: flex;
    width: 1000px;
    margin: 20px auto;
}



.catalog-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.catalog-caption {
    text-align: center;
    width: 800px;
    margin: auto;
    font-size: 26px;
}

.catalog-btn {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-spotlight {
    display: flex;
    border-bottom: solid 1px white;
    padding: 30px;
}

.game-spotlight h2 {
    margin: auto;
}

.game-spotlight img {
    width: 450px;
    margin: auto;
}


.catalog-grid,
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin: auto;
}

.category-box img {
    margin: auto;
}

.category-box,
.game-spotlight-card {
    position: relative;
    margin: 40px auto;
}

.game-spotlight-card img,
.category-box img {
    width: 450px;
    height: 100%;
    margin: auto;
    transition: opacity 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.game-spotlight-card:hover img,
.category-box:hover img {
    opacity: 0.3;
}

.category-box:hover .overlay,
.game-spotlight-card:hover .overlay {
    opacity: 1;
}

footer {
    background-color: var(--accent2-color);
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;

}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger-menu .bar {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 1265px) {
    .left {
        border-right: none;
    }
    .game-spotlight {
        flex-direction: column;
        margin: auto;
    }
}

@media (max-width: 1200px) {
    .customs-page-grid {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .custom-models {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        gap: 10;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        border-bottom: solid 1px white;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    .header {
        display: flex;

    }

    header {
        display: flex;
        flex-direction: column;
    }

    nav {
        background-color: var(--accent1-color);
        width: 100%;
        text-align: center;
    }

    #navbar {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .hamburger-menu {
        display: flex;
        margin: auto;
        padding: 20px;
    }

    #navbar.show {
        display: flex;
    }

    nav a {
        font-size: 18px;
        color: black;

    }

}

@media (max-width: 768px) {

    .catalog-caption {
        font-size: 24px;
        width: 500px;
        margin: auto;
    }

    .overlay {
        width: 500px;
        margin: 0;
        
      
    }
    .form-section {
        padding: 20px;
    }

    .card {
        margin: auto;
    }

    .modal {
        width: 350px;
    }

    .footer {
        width: fit-content;
    }

    .card {
        margin: auto;
    }

    .modal {
        width: 350px;
    }

    .footer {
        width: fit-content;
    }

}

@media (max-width: 630px) {

    .category-box img {
        width: 400px;
    }

    .catalog-caption {
        font-size: 18px;
        width: 350px;
        margin: auto;
    }

    .custom-models {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }

    .hero-overlay h1,
    .hero-overlay p {
        width: 350px;
        font-size: 24px;

    }

    .card,
    .card img,
    .category-box {
        width: 400px;
        font-size: 11px;
    }
}

@media (max-width: 480px) {

    body {
        margin: auto;
    }
    .hero-overlay h1,
    .hero-overlay p {
        width: 350px;
        font-size: 18px;
        padding: 10px;

    }

    .overlay {
        width: 300px;
        margin: 0;
        
      
    }

    .game-spotlight img {
        width: 300px;
        margin: auto;
        justify-content: center  !important;

    }

    .catalog-caption {
        font-size: 18px;
        width: 300px;
        margin: auto;
    }

    .category-grid img {
        max-width: 300px;
        margin-right: 50px;
    }

}