@media (max-width: 640px) {
    .places {
        grid-template-columns: 1fr;
    }

    .place-card {
        margin: 10px;
    }

    .places div {
        grid-template-areas:
            "name"
            "photograph"
            "description"
            "location"
            "button";
    }

    .places div figure {
        margin: auto;
    }
}

@media (min-width: 641px) {
    .places div figure:hover {
        transform: scale(1.05);
    }
}